body{
    background-color:#D2E0FB;
}
hr{
    border-color: gray;
    border-width: 5px;
    border-style:none;
    border-top-style: dotted;
    width: 20%;
}
h1{
    color:#088395 ;
}

h3 {
    color:#26577C ;
}
strong{
    color: #4D4C7D;
}
a{
    text-decoration: none;
    color:#26577C;
    font-size:larger;
}
